## A simple scatter plot

In this example, you're going to make a scatter plot of female literacy vs fertility using data from the European Environmental Agency(https://www.eea.europa.eu/data-and-maps/figures/correlation-between-fertility-and-female-education). This dataset highlights that countries with low female literacy have high birthrates. The x-axis data has been loaded for you as fertility and the y-axis data has been loaded as female_literacy.

Your job is to create a figure, assign x-axis and y-axis labels, and plot female_literacy vs fertility using the circle glyph.

After you have created the figure, in this exercise and the ones to follow, play around with it! Explore the different options available to you on the tab to the right, such as "Pan", "Box Zoom", and "Wheel Zoom". You can click on the question mark sign for more details on any of these tool

    # Import figure from bokeh.plotting
    from bokeh.plotting import ____

    # Import output_file and show from bokeh.io
    from bokeh.io import ____, ____

    # Create the figure: p
    p = ____(____='fertility (children per woman)', ____='female_literacy (% population)')

    # Add a circle glyph to the figure p
    p.circle(____, ____)

    # Call the output_file() function and specify the name of the file


    # Display the plot

In [3]:
import pandas as pd 
from bokeh.plotting import figure
from bokeh.io import output_file, show
import numpy as np

In [8]:
data = pd.read_excel("../data/TREND01-5G-educ-fertility-bubbles.xls")
data.head()

    Country  Continent female literacy fertility    population
0      Chine       ASI            90.5     1.769  1.324655e+09
1       Inde       ASI            50.8     2.682  1.139965e+09
2        USA       NAM              99     2.077  3.040600e+08
3  Indonésie       ASI            88.8     2.132  2.273451e+08
4     Brésil       LAT            90.2     1.827  1.919715e+08

In [9]:
data.tail()

,Country,Continent,female literacy,fertility,population
177,Antilles néerlandaises,NaN,96.3,NaN,NaN
178,Iles Caïmanes,NaN,99,NaN,NaN
179,Seychelles,NaN,92.3,NaN,NaN
180,Territoires autonomes palestiniens,NaN,90.9,NaN,NaN
181,WORLD,WORLD,77,NaN,NaN

In [10]:
p = figure(x_axis_label='fertility (children per woman)', y_axis_label='female_literacy (% population)')

In [12]:
p.circle(data['fertility'], data['female literacy'])

In [15]:
output_file("fert_lit.html")